:root{
  --color-fondo: #fff;
  --color-purple: #6935FD;
  --color-dark: #272727;
  --color-gray: #616161;
  --color-c4: #C4C4C4;
  --color-white: #fff;
  --color-black: #000;
}
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Jura:wght@300&display=swap');
body{
  background-color: var(--color-fondo);
  color: #fff;
  font-family: 'DM Sans', sans-serif;
}
h1{
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  font-family: 'DM Sans', sans-serif;
}
.h2{
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 35px;
  margin-top: 70px;
  font-family: 'DM Sans', sans-serif;
}
p{
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 0;
  font-family: 'DM Sans', sans-serif;
}
.navbar-brand{
  font-size: 3rem;
}
a{
  text-decoration: none;
}
a,input,button,select,textarea{
  box-shadow: none !important;
  outline: none !important;
}
.button{
  font-size: 14px;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
}
